*.b#*
*.s#*
*.swp
/software/derploadxp/.metadata/.lock
/software/derploadxp/.metadata/.mylyn/repositories.xml.zip
/software/derploadxp/.metadata/.plugins/org.eclipse.cdt.core/.log
/software/derploadxp/.metadata/.plugins/org.eclipse.cdt.core/shareddefaults.xml
/software/derploadxp/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
/software/derploadxp/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
/software/derploadxp/.metadata/.plugins/org.eclipse.cdt.ui/dialog_settings.xml
/software/derploadxp/.metadata/.plugins/org.eclipse.core.resources/.history/2c/70fa8b20232700131a9eebd2bcd9da45
/software/derploadxp/.metadata/.plugins/org.eclipse.core.resources/.history/61/80a0f0681a27001310ebeb34f357aae0
/software/derploadxp/.metadata/.plugins/org.eclipse.core.resources/.history/88/408223da1a27001310ebeb34f357aae0
/software/derploadxp/.metadata/.plugins/org.eclipse.core.resources/.history/96/71fa8b20232700131a9eebd2bcd9da45
/software/derploadxp/.metadata/.plugins/org.eclipse.core.resources/.history/aa/405d3c871a27001310ebeb34f357aae0
/software/derploadxp/.metadata/.plugins/org.eclipse.core.resources/.history/bb/40858b20232700131a9eebd2bcd9da45
/software/derploadxp/.metadata/.plugins/org.eclipse.core.resources/.history/c5/72fa8b20232700131a9eebd2bcd9da45
/software/derploadxp/.metadata/.plugins/org.eclipse.core.resources/.root/3.tree
/software/derploadxp/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/software/derploadxp/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/software/derploadxp/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
/software/derploadxp/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/software/derploadxp/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
/software/derploadxp/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.mylyn.ui.prefs
/software/derploadxp/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
/software/derploadxp/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
/software/derploadxp/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.runtime.prefs
/software/derploadxp/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
/software/derploadxp/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
/software/derploadxp/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.recording.prefs
/software/derploadxp/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
/software/derploadxp/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
/software/derploadxp/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
/software/derploadxp/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
/software/derploadxp/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
/software/derploadxp/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
/software/derploadxp/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
/software/derploadxp/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
/software/derploadxp/.metadata/.plugins/org.eclipse.epp.usagedata.recording/upload0.csv
/software/derploadxp/.metadata/.plugins/org.eclipse.epp.usagedata.recording/upload1.csv
/software/derploadxp/.metadata/.plugins/org.eclipse.epp.usagedata.recording/usagedata.csv
/software/derploadxp/.metadata/.plugins/org.eclipse.linuxtools.cdt.libhover/C/glibc_library.libhover
/software/derploadxp/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2013/9/39/refactorings.history
/software/derploadxp/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2013/9/39/refactorings.index
/software/derploadxp/.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
/software/derploadxp/.metadata/.plugins/org.eclipse.ui.editors/dialog_settings.xml
/software/derploadxp/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
/software/derploadxp/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
/software/derploadxp/.metadata/.plugins/org.eclipse.ui.workbench.texteditor/dialog_settings.xml
/software/derploadxp/.metadata/.plugins/org.eclipse.ui.workbench/workbench.xml
/software/derploadxp/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/software/derploadxp/.metadata/version.ini
/software/derploadxp/.project
/software/.metadata/.lock
/software/.metadata/.log
/software/.metadata/.mylyn/repositories.xml.zip
/software/.metadata/.plugins/org.eclipse.cdt.core/.log
/software/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
/software/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
/software/.metadata/.plugins/org.eclipse.core.resources/.history/0/b1276443242700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/1b/a0fd61a4272700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/1c/a0105e652a2700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/1d/6009bdab262700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/20/00501122252700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/21/c0a7f0fd242700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/23/d1756443242700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/24/90ab76c0262700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/29/c14e6443242700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/2f/20396543242700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/3/00267c2f272700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/37/a1006443242700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/3d/900fda01282700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/3e/e09710772b2700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/41/c07f5e9b2d2700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/46/90622888282700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/47/90888acf262700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/4b/f01d7673292700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/4/c0429c9f282700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/4d/11126543242700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/4e/90d96343242700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/4f/f04583ca292700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/51/10126543242700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/5b/c04e6443242700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/5/e0823c392f2700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/5f/e07243ea2c2700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/61/d091d6b6272700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/6a/607c48a9252700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/6e/b0cb8344282700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/70/c09683f72b2700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/7a/50eff8ac272700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/7a/60ae3d4c292700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/8e/901fe44a2e2700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/91/00eb6443242700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/92/505250a92a2700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/93/91d96343242700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/95/c0a35ce8272700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/9b/b0276443242700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/a0/12126543242700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/a2/708b6343242700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/a3/e0df319c2e2700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/a4/13126543242700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/a8/308d6fd02d2700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/ad/e29c6443242700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/b1/90521a7b262700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/bb/806cdd77252700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/b/e19c6443242700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/be/505a3e132a2700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/bf/d048dc582d2700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/c1/f0c36443242700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/c3/d0596325282700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/c8/d04f71fe2c2700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/cb/01eb6443242700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/cd/d05672802f2700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/d/80b26343242700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/d9/1072ec86262700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/da/e09c6443242700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/db/b0f55f9f2b2700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/de/909f8520282700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/e1/90403571272700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/e2/107f32b6262700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/e2/f0e68540242700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/e4/f1c36443242700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/ee/40ae1fb12a2700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/ef/b02b9166252700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/f2/80da1fe6242700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/f2/a09ad4aa252700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/f2/e39c6443242700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/f5/90470b862b2700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/f5/a088aa6d262700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/f7/a0006443242700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/fa/d0756443242700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/fb/40e5aa802a2700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.history/fd/b01e7a2c292700131c2eb43e3d597330
/software/.metadata/.plugins/org.eclipse.core.resources/.projects/derploadxp/.indexes/9d/a3/4e/13/history.index
/software/.metadata/.plugins/org.eclipse.core.resources/.projects/derploadxp/.indexes/9d/a3/4e/67/10/history.index
/software/.metadata/.plugins/org.eclipse.core.resources/.projects/derploadxp/.indexes/9d/a3/4e/67/a8/9d/history.index
/software/.metadata/.plugins/org.eclipse.core.resources/.projects/derploadxp/.indexes/9d/a3/4e/67/d/history.index
/software/.metadata/.plugins/org.eclipse.core.resources/.projects/derploadxp/.indexes/9d/a3/4e/67/history.index
/software/.metadata/.plugins/org.eclipse.core.resources/.projects/derploadxp/.indexes/9d/a3/4e/6c/history.index
/software/.metadata/.plugins/org.eclipse.core.resources/.projects/derploadxp/.indexes/9d/a3/4e/9a/af/history.index
/software/.metadata/.plugins/org.eclipse.core.resources/.projects/derploadxp/.indexes/9d/a3/4e/b3/history.index
/software/.metadata/.plugins/org.eclipse.core.resources/.projects/derploadxp/.indexes/9d/a3/4e/b/history.index
/software/.metadata/.plugins/org.eclipse.core.resources/.projects/derploadxp/.indexes/9d/a3/4e/f6/history.index
/software/.metadata/.plugins/org.eclipse.core.resources/.projects/derploadxp/.indexes/9d/a3/e7/history.index
/software/.metadata/.plugins/org.eclipse.core.resources/.projects/derploadxp/.indexes/9d/a3/history.index
/software/.metadata/.plugins/org.eclipse.core.resources/.projects/derploadxp/.indexes/9d/history.index
/software/.metadata/.plugins/org.eclipse.core.resources/.projects/derploadxp/.indexes/history.index
/software/.metadata/.plugins/org.eclipse.core.resources/.projects/derploadxp/.indexes/properties.index
/software/.metadata/.plugins/org.eclipse.core.resources/.projects/derploadxp/.markers.snap
/software/.metadata/.plugins/org.eclipse.core.resources/.projects/derploadxp/.syncinfo.snap
/software/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/software/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
/software/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/software/.metadata/.plugins/org.eclipse.core.resources/.snap
/software/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.codan.core.prefs
/software/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-derploadxp.prefs
/software/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
/software/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
/software/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
/software/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.runtime.prefs
/software/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
/software/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
/software/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.recording.prefs
/software/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
/software/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
/software/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
/software/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
/software/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
/software/.metadata/.plugins/org.eclipse.epp.usagedata.recording/upload0.csv
/software/.metadata/.plugins/org.eclipse.epp.usagedata.recording/usagedata.csv
/software/.metadata/.plugins/org.eclipse.linuxtools.cdt.libhover/C/glibc_library.libhover
/software/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2013/9/39/refactorings.history
/software/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2013/9/39/refactorings.index
/software/.metadata/.plugins/org.eclipse.team.cvs.core/.running
/software/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/software/.metadata/version.ini
